.Welcome-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://images.alphacoders.com/887/887585.jpg);
    background-size: cover;
    background-position: center;
}

.Welcome-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 0 2rem;
    padding-top: 1rem;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;

}


.Welcome-h1 {
    font-size: 7vh;
    color: #495C83;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1.6px rgba(0, 0, 0, 0.918)
}

.Welcome-slogan {
    font-style: italic;
    font-weight: 700;
}

.Welcome-image {
    height: 10rem;
}